<div class="form-wrapper">
  <form class="form-wrapper__form">
    <ul class="form-list">
      <li class="form-list__login-field">
        <label for="first-name" class="login-label">Login</label>
        <input
          type="text"
          id="email"
          placeholder="Enter your email"
          name="inputLogin"
          required
        />
      </li>
      <li class="form-list__password-field">
        <label for="email" class="password-label">Password</label>
        <input
          id="password"
          type="password"
          name="inputPass"
          placeholder="Enter your password"
          required
        />
      </li>
      <input
        routerLink=""
        class="login-btn btn-success"
        type="submit"
        value="Login"
      />
    </ul>
  </form>
</div>